*{
    margin: 0;
}
:root{
    --cor1: #EB8338;
    --cor2: #EBBF38;
    --cor3: #EBDBBF;
}
body{
font-family: Arial, Helvetica, sans-serif;
font-weight: 550;
}
.head{
    height: 65px;
    cursor: default;
    background: linear-gradient(var(--cor1), var(--cor2));
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    position: sticky;
    top: 0;
    z-index: 10;
}
.headBottom{
    height: 25px;
    width: 100%;
    background: linear-gradient(var(--cor2), var(--cor3));
    position: sticky;
    top: 65px;
    z-index: 9;
}
p{
    cursor: default;
    text-align: justify;
}
.title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 37px;
}
@media screen and (max-width: 382px){
    .title{
        font-size: 30px;
    }
    #subtitulo{
        font-size: 25px;
    }
}
.fundo{
    background-color: var(--cor3);
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
.fundo2{
    background-color: var(--cor3);
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    cursor: default;
}
#subtitulo{
    position: absolute;
    right: 50%;
    margin-top: -50px;
    transform: translate(50%, 0);
    cursor: default;
}

figure{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
}
figure > img{
    margin: 15px;
}
h2{
    margin-top: 20px;
}
#gap{
margin-top: -70px;
}
#lista{
    margin-top: 50px;
}
#centro{
display: flex;
align-items: center;
justify-content: center;
}
.paragrafo{
    margin-left: 25px;
    display: inline;
}
#slider{
    display: flex;
    width: 300px;
    height: 216px;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 10px;
}
#slider img{
    scroll-snap-align: start;
}
#slider-nav{
    display: flex;
    gap: 10px;
}
#slider-nav a{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    border: 1.5px black solid;
}
html{
    scroll-behavior: smooth;
}
.logo:hover{
    animation: giro 250ms ease-in-out;
}
@keyframes giro{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: var(--cor3);
    border-top: 1.5px solid rgba(0, 0, 0, 0.6);
    color: rgba(0, 0, 0, 0.8);
    font-size: small;
}
#fam{
    border-radius: 10px;
}